.btn-primary{
  --bs-btn-bg:#3A68B8;
  --bs-btn-border-color:#3A68B8;
  --bs-btn-hover-color:#3A68B8 ;
  --bs-btn-hover-bg:inhtrit;
  --bs-btn-hover-border-color:#3A68B8;
  --bs-btn-focus-shadow-rgb:none;
}

$main-font-family:'Open Sans',sans-serif;
$footer-font-family:'Circular Std Book',sans-serif;
$bootstrap-font-family:'bootstrap-icons';
$font-xl-size:40px;
$font-lg-size:20px;
$font-md-size:16px;
$font-sm-size:14px;
$bg-color:#020A18;
$white-color:#ffffff;
$blue-color:#3A68B8;
$text-opacity:0.7;
$transition:.3s;
$container-max-width:1146px;

